div
  script(src="https://s3.mogucdn.com/mlcdn/c45406/1520387600580_dom-to-image.min.js",charset="utf-8")
  script(type = 'text/javascript', src = url_for(theme.js) + '/save_img.js' + '?v=' + theme.version)
  script.
    var url;
    domtoimage.toPng(document.getElementsByClassName('layout-l')[0])
        .then(function (dataUrl) {
            url = dataUrl;
         })
        .catch(function (error) {});
    var title = document.getElementById('blogTitleCp').children[0].innerText;
    console.info("====="+url);
    var t = "#{theme.title}_" + title + '.png';
    function link() {
        to_save_img(title,url,t)
    }
  span(style="float:center;font-size:20px;font-weight:solid;color:gray") 渲染：
  a(id="saveImg" href="javascript:void(0)" onclick="link()" class="save_img")='保存图片'