- var article = post || page
if article.type == 2
    span(class="article-icon article-icon-2" title="原创")="原"
if article.type == 3
    span(class="article-icon article-icon-3" title="转载")="转"
if article.type == 5
    span(class="article-icon article-icon-5" title="专栏")="专"
