button.toggle(id="sidebar-toggle")
    i(class="fa fa-arrow-right ",aria-hidden="true")
div(id="site-toc")
    input.search-input(id="search-input",type="search",placeholder="目录搜索")
    include ../_partial/tree