<% if (post.type){ %>
    <% if (post.type == 2){ %>
    <span class="article-type article-type-2">原创</span>
    <% }else if (post.title == 4){ %>
    <span class="article-type article-type-4">转载</span>
    <% } %>
<% } %>

